@model TheatreSystem.Models.Zone

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить зону</h2>

<h3>Вы уверены, что вы хотите удалить зону?</h3>
<div>
    <h4>Зоны</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Стоимсть</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            <b>Название</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <b>Количество мест</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPlaces)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
