@model TheatreSystem.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробнее</h2>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Имя</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            E-mail
        </dt>
            
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
           <b>Статус заказа</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
